<h1>Criação de task</h1>
<form action="/tasks/add" method="post">
  <div class="form-control">
    <label for="title">Titulo:</label>
    <input type="text" name="title" placeholder="O que você vai fazer?">
  </div>
  <div class="form-control">
    <label for="description">Descrição:</label>
   <textarea name="description" placeholder="Descreva a tarefa..."></textarea>
   <input type="submit" value="Criar">
  </div>
</form>